BasedOnStyle: Microsoft
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 90
PointerAlignment: Left
ReferenceAlignment: Left

